name: Docker Test

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Docker Setup Compose
        uses: docker/setup-compose-action@v1.2.0

      - name: Build Test
        run: docker compose build --pull --no-cache
